
@import "variables";
@import "mixins";



/* FONT
===============================================================================================
=============================================================================================== */
@font-face{
    font-family: 'YOUR_NAME';
    src: url(PATH) format('truetype');
}

// ... tutti i font-face che vuoi ...

@font-face{
    font-family: 'YOUR_NAME';
    src: url(PATH) format('truetype');
}



/* REGOLE DI STILE ( DIPENDENTI DAL PROGETTO )
===============================================================================================
=============================================================================================== */

#imageSelectionPopup, #linkInsertPopup{
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    @include transition(transform 1.5s ease);

    &.show{
        @include transform(translate3d(0, 100%, 0)); // accelerazione HW
    }

    form{
        width: 60%;
        height: 60%;
        margin: 5% auto auto auto;
        padding: 10px 20px;
        background-color: #ffffff;
        position: relative;
        @include borderRadius(3px);
        @include boxShadow(0 0 3px #c0c0c0);

        h1{
            color: #eeeeee;
            background-color: #555555;
            margin: 10px -20px 10%;
            text-align: center;
            padding: 5px 0;
            font-size: 1.5rem;
        }

        input{
            display: block;
            margin: auto;
            padding: 3px 7px;
            width: 60%;
            height: 10%;
            font-size: 1.2rem;
        }

        button{
            position: absolute;
            bottom: 10%;
            right: 10%;
            border: none;
            padding: 7px 10px;
            background-color: #555555;
            color: #eeeeee;
            cursor: pointer;
            @include borderRadius(3px);
            @include transition(background-color .7s ease);

            &:hover{
                background-color: #333333;
            }

            &:active{
                @include transform(translate(1px, 1px));
            }
        }

    }
}


.myEditor{
    width: 70%;
    margin: auto;
    @include boxShadow(0 0 3px #c0c0c0);
    @include borderRadius(3px);

    &>.myToolbar{
        background-color: #555555;

        &>div{
            display: inline-block;
            padding: 5px 7px;

            &>ul{
                display: inline-block;
                margin: 0;
                padding: 0;
                width: 100%;

                &>li{
                    list-style: none;
                    float: left;
                    padding: 0 5px;
                    background-color: #eeeeee;
                    border: 1px solid #bbbbbb;
                    cursor: pointer;
                    max-height: 20px; /* in modo che il <sub> non faccia sforare i bottoni per l'header' */


                    &:first-of-type{
                        @include borderRadius(3px 0 0 3px);
                    }

                    &:last-of-type{
                        @include borderRadius(0 3px 3px 0);
                    }

                    &:hover{
                        background-color: #cccccc;
                    }
                }
            }
        }
    } /* FINE .myToolbar*/

    &>.myEditorTextArea{
        padding: 5px;
        min-height: 400px;
    } /* FINE .myEditorTextArea*/
} /* FINE .myEditor*/


