@charset "UTF-8";
/* File parziale per le variabili. Sar├á poi importato dal file principale */
/* VARIABILI
===============================================================================================
=============================================================================================== */
/* File parziale per i mixin. Sar├á poi importato dal file principale */
/* MIXINS
===============================================================================================
=============================================================================================== */
/* FONT
===============================================================================================
=============================================================================================== */
@font-face {
  font-family: 'YOUR_NAME';
  src: url(PATH) format("truetype"); }
@font-face {
  font-family: 'YOUR_NAME';
  src: url(PATH) format("truetype"); }
/* REGOLE DI STILE ( DIPENDENTI DAL PROGETTO )
===============================================================================================
=============================================================================================== */
#imageSelectionPopup, #linkInsertPopup {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
  -moz-transition: transform 1.5s ease;
  -webkit-transition: transform 1.5s ease; }
  #imageSelectionPopup.show, #linkInsertPopup.show {
    transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0); }
  #imageSelectionPopup form, #linkInsertPopup form {
    width: 60%;
    height: 60%;
    margin: 5% auto auto auto;
    padding: 10px 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 3px #c0c0c0;
    -moz-box-shadow: 0 0 3px #c0c0c0;
    -webkit-box-shadow: 0 0 3px #c0c0c0; }
    #imageSelectionPopup form h1, #linkInsertPopup form h1 {
      color: #eeeeee;
      background-color: #555555;
      margin: 10px -20px 10%;
      text-align: center;
      padding: 5px 0;
      font-size: 1.5rem; }
    #imageSelectionPopup form input, #linkInsertPopup form input {
      display: block;
      margin: auto;
      padding: 3px 7px;
      width: 60%;
      height: 10%;
      font-size: 1.2rem; }
    #imageSelectionPopup form button, #linkInsertPopup form button {
      position: absolute;
      bottom: 10%;
      right: 10%;
      border: none;
      padding: 7px 10px;
      background-color: #555555;
      color: #eeeeee;
      cursor: pointer;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      transition: background-color 0.7s ease;
      -moz-transition: background-color 0.7s ease;
      -webkit-transition: background-color 0.7s ease; }
      #imageSelectionPopup form button:hover, #linkInsertPopup form button:hover {
        background-color: #333333; }
      #imageSelectionPopup form button:active, #linkInsertPopup form button:active {
        transform: translate(1px, 1px);
        -moz-transform: translate(1px, 1px);
        -webkit-transform: translate(1px, 1px); }

.myEditor {
  width: 70%;
  margin: auto;
  box-shadow: 0 0 3px #c0c0c0;
  -moz-box-shadow: 0 0 3px #c0c0c0;
  -webkit-box-shadow: 0 0 3px #c0c0c0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /* FINE .myToolbar*/
  /* FINE .myEditorTextArea*/ }
  .myEditor > .myToolbar {
    background-color: #555555; }
    .myEditor > .myToolbar > div {
      display: inline-block;
      padding: 5px 7px; }
      .myEditor > .myToolbar > div > ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%; }
        .myEditor > .myToolbar > div > ul > li {
          list-style: none;
          float: left;
          padding: 0 5px;
          background-color: #eeeeee;
          border: 1px solid #bbbbbb;
          cursor: pointer;
          max-height: 20px;
          /* in modo che il <sub> non faccia sforare i bottoni per l'header' */ }
          .myEditor > .myToolbar > div > ul > li:first-of-type {
            border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            -webkit-border-radius: 3px 0 0 3px; }
          .myEditor > .myToolbar > div > ul > li:last-of-type {
            border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            -webkit-border-radius: 0 3px 3px 0; }
          .myEditor > .myToolbar > div > ul > li:hover {
            background-color: #cccccc; }
  .myEditor > .myEditorTextArea {
    padding: 5px;
    min-height: 400px; }

/* FINE .myEditor*/

/*# sourceMappingURL=myEditor.css.map */
